.index-page{

    // GENERAL
    .points{
        width: 100%;
        height: 23px;
        background-image: url('/icons/point-icon@2x.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include tablet-landscape{
            background-size: cover;
        }
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;

        h2{
            @extend %title-2;
            margin: 0 20px;
            width: auto;
            white-space: nowrap;
        }
    }

    // HEADER
    .header-index{
        padding: 200px 0 140px;
        background-image: url('/images/bg-home.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            @extend %title-1;
            position: relative;
            font-size: 3vw;
            text-align: left;
            width: max-content;

            @include media(900px){
                font-size: 2em;
                width: auto;
                text-align: center;
            }
            &::after{
                content: '';
                position: absolute;
                left: 10px;
                top: 25px;
                display: block;
                height: 25px;
                width: 100%;
                background: #CC0F3733 0% 0% no-repeat padding-box;

                @include media(900px){
                    content: initial;
                }
            }
        }

        p{
            margin-top: 50px;
            width: 50%;
            color: $white;
            line-height: 20px;

            @include media(900px){
                margin: 50px auto 0;
                text-align: center;
            }

            @include tablet-landscape{
                width: 100%;
            }
        }

        a{
            display: block;
            margin-top: 30px;
            padding: 10px 17px;
            width: max-content;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F4F4F4;
            border-radius: 20px;

            @include media(900px){
                margin: 30px auto 0;
            }
        }
    }

    // SECTION INDEX 1
    .section-index-1{
        display: flex;
        justify-content: space-between;
        margin-top: -130px;

        @include media(900px){
            flex-direction: column;
        }

        .card{
            display: flex;
            flex-direction: column;
            margin: 0 40px;
            padding: 35px 55px;
            background: $white;
            border-radius: 6px;
            box-shadow: 0px 3px 10px #00000029;

            @include media(900px){
                margin: 20px 0;
            }

            img{
                margin: auto;
                width: 8em;
            }

            h3{
                @extend %title-3;
                position: relative;
                margin: 33px auto 0;
                width: max-content;
                font-size: 1.2em;
                &::after{
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 6px;
                    display: block;
                    height: 15px;
                    width: 100%;
                    background: #CC0F3733 0% 0% no-repeat padding-box;
                }
            }

            p{
                margin: 33px auto 0;
                width: 90%;
                text-align: center;

                @include media(900px){
                    width: 100%;
                }
            }
        }
    }

    // SECTION INDEX 2
    .section-index-2{
        position: relative;
        .title{
            margin-bottom: 120px;
        }

        .bg{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 385px;
            background-color: $red;

            a{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                display: block;
                padding: 10px 17px;
                width: max-content;
                background-color: $white;
                border: 1px solid $red;
                border-radius: 20px;
                color: $red;
                font-size: 1em;
                transition: all .5s;
                white-space: nowrap;
                &:hover{
                    background-color: $red;
                    color: $white;
                    border-color: $white;
                }
            }
        }

        .slick{
            .card{
                margin: 0 20px;
                padding: 50px 60px;
                max-width: 412px;
                background: $white;
                border-radius: 6px;
                box-shadow: 0px 3px 10px #00000029;

                @include mobile-landscape{
                    padding: 20px;
                }

                .title-card{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mobile-landscape{
                        flex-direction: column;
                    }

                    h3{
                        @extend %title-3;
                        margin-left: 10px;

                        @include mobile-landscape{
                            margin-left: initial;
                            margin-top: 20px;
                        }
                    }
                }

                p{
                    margin-top: 20px;
                    @include mobile-landscape{
                        text-align: center;
                    }
                }
            }
        }
    }

    // SECTION INDEX 3
    .section-index-3{
        
        .map{
            padding: 139px 0;
            margin-top: 50px;
            height: 643px;
            background-image: url('/images/map.svg');
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;

            @include tablet-landscape{
                background-position: 27%;
            }

            .card{
                float: right;
                padding: 46px 70px;
                width: max-content;
                background: $white;
                border-radius: 6px;
                box-shadow: 0px 3px 10px #00000029;

                @include tablet-landscape{
                    margin: 200px auto;
                    float: initial;
                    width: initial;
                }

                p{
                    font-size: 1.1em;
                    line-height: 20px;
                }

                h3{
                    @extend %title-3;
                    position: relative;
                    margin: 33px auto 0;
                    width: max-content;
                    font-size: 1.4em;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 5px;
                        top: 10px;
                        display: block;
                        height: 15px;
                        width: 100%;
                        background: #CC0F3733 0% 0% no-repeat padding-box;
                    }
                }

                .adress{
                    display: flex;
                    align-items: center;
                    margin-top: 30px;

                    @include tablet-landscape{
                        justify-content: center;
                    }
    
                    img{
                        margin-right: 10px;
                    }
                }
    
                .tel{
                    display: flex;
                    align-items: center;
                    margin-top: 30px;

                    @include tablet-landscape{
                        justify-content: center;
                    }
    
                    img{
                        margin-right: 10px;
                    }
                }

                a{
                    display: block;
                    margin: 30px auto 0;
                    padding: 10px 17px;
                    width: max-content;
                    background-color: $red;
                    border: 1px solid #F4F4F4;
                    border-radius: 20px;
                    color: $white;
                    font-size: 1em;
                }
            }
        }
    }

    // SECTION INDEX 4
    .section-index-4{
        padding-bottom: 0;
        .cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top:80px;

            @include tablet-landscape{
                flex-direction: column;
            }

            .card{
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 30px 0;
                background: $white;
                border-radius: 6px;
                box-shadow: 0px 3px 10px #00000029;
                overflow: hidden;

                @include tablet-landscape{
                    width: 100%;
                }

                &.center{
                    margin: 0 30px;

                    @include tablet-landscape{
                        margin: 50px 0;
                    }
                }

                h3{
                    @extend %title-3;
                    position: relative;
                    margin: 0 auto;
                    width: max-content;
                    font-size: 1.4em;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 5px;
                        top: 10px;
                        display: block;
                        height: 15px;
                        width: 100%;
                        background: #CC0F3733 0% 0% no-repeat padding-box;
                    }
                }

                .descriptions{
                    margin-top: 35px;

                    p{
                        text-align: center;
                        padding: 0 50px;
                    }
                }
            }
        }
    }

    // SECTION INDEX 5
    .section-index-5{
        a{
            display: block;
            margin: 30px auto 0;
            padding: 10px 17px;
            width: max-content;
            background-color: $red;
            border: 1px solid #F4F4F4;
            border-radius: 20px;
            color: $white;
            font-size: 1.3em;
        }
    }
}