/* stylelint-disable max-empty-lines */

// A

// B
$black: #141414;

// C

// D

// E

// F

// G

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R
$red: #CC0F37;

// S

// T

// W
$white: #fff;

// X

// Y

// Z

